<ion-view view-title="活动一览">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-ios-plus-empty" href="#/tab/activity/new"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="activity in activities" type="item-text-wrap" href="#/tab/activity/{{activity.id}}" ng-init="paymented = (activity.paymentFlag == 1)">
        <h2>[{{ activity.date | date:'yyyy-MM-dd' }}]{{activity.catagory}}活动</h2>
        <p><b>{{ 9 }}</b>人参加</p>
        <p ng-hide="paymented" class="badge badge-assertive">未结</p>
        <span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>

        <ion-option-button class="button-balanced" ng-click="">结算</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
