<ion-view view-title="选择人员({{ (peoples | filter:{joined:true}).length }})">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="ensurePeoples()">确定</button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
	  <ion-item ng-repeat="people in peoples" class="item-checkbox">
		<label class="checkbox checkbox-balanced">
	    	<input type="checkbox" ng-model="people.joined" ng-true-value="'true'" ng-false-value="'false'">
	    </label>
	  	{{people.name}}
	  </ion-item>
	</ion-list>
  </ion-content>
</ion-view>