<ion-view view-title="{{activity.catagory}}">
  <ion-nav-buttons side="right">
    <a ng-hide="paymented" class="button button-clear" href="#/tab/activity/{{activity.id}}/payment">结算</a>
  </ion-nav-buttons>
  
  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="img/{{activity.catagory == '羽毛球' ? 'yumaoqiu' : 'jucan'}}.png">
        <h2>{{activity.catagory}}活动</h2>
        <p>{{activity.date | date:'yyyy-MM-dd HH:mm'}}</p>
        <p ng-hide="paymented" class="badge badge-assertive">未结算</p>
        <p ng-show="paymented" class="badge badge-balanced">已结算</p>
      </div>
      
      <div ng-show="paymented">
        <div class="item item-divider">
          结算信息
        </div>
        <div class="item">
          活动费用
          <span style="float:right;">{{activity.fee | currency: '¥'}}</span>
        </div>
        <div class="item">
          参加人数
          <span style="float:right;">{{activity.userCount}}人</span>
        </div>
        <div class="item">
          每人花费
          <span style="float:right;">{{activity.fee/activity.userCount | currency: '¥'}}</span>
        </div>
      </div>

      <div class="item item-divider">
        人员({{peoples.length}}人)
      </div>
      <div ng-hide="paymented">
        <a class="item item-icon-left item-icon-right" href="#/tab/activity/{{activity.id}}/peoples">
          <i class="icon ion-person-stalker"></i>
          选择参加人员
          <span class="badge badge-balanced">{{peoples.length}}人</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
      <div class="item padding" ng-show="peoples.length>0">
        {{ joinedUserNames }}
      </div>

      <div class="item item-divider">
        通知
      </div>
      <a ng-hide="paymented" href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        邀请通知
      </a>

      <a ng-hide="paymented" href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        参加人员通知
      </a>

      <a ng-show="paymented" href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        结算通知
      </a>
    </div>

    <div ng-hide="paymented">
      <br>
      <button class="button button-assertive button-full button-positive button-footer" ng-click="showDeleteConfirm(activity)">删除该次活动</button>
    </div>

  </ion-content>
</ion-view>